# Server
PORT=3000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://localhost:27017/ingestion-engine

# Shopify
SHOPIFY_ACCESS_TOKEN=
SHOPIFY_STORE_URL=

# Magento
MAGENTO_ACCESS_TOKEN=
MAGENTO_STORE_URL=

# WooCommerce
WOOCOMMERCE_CONSUMER_KEY=
WOOCOMMERCE_CONSUMER_SECRET=
WOOCOMMERCE_STORE_URL=

# Unicommerce
UNICOMMERCE_AUTH_TOKEN=
UNICOMMERCE_FACILITY_CODE=
UNICOMMERCE_STORE_URL=

# BigCommerce
BIGCOMMERCE_API_KEY=
BIGCOMMERCE_STORE_HASH=
BIGCOMMERCE_STORE_URL=