# Server
PORT=3000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://localhost:27017/ingestion-engine

# Shopify
SHOPIFY_ACCESS_TOKEN=
SHOPIFY_STORE_URL=

# Magento
MAGENTO_USE_MOCK=true
MAGENTO_ACCESS_TOKEN=
MAGENTO_STORE_URL=

# WooCommerce
WOO_USE_MOCK=true
WOO_CONSUMER_KEY=
WOO_CONSUMER_SECRET=
WOO_STORE_URL=

# Unicommerce
UNICOMMERCE_USE_MOCK=true
UNICOMMERCE_BASE_URL=
UNICOMMERCE_CLIENT_ID=
UNICOMMERCE_CLIENT_SECRET=
UNICOMMERCE_USERNAME=
UNICOMMERCE_PASSWORD=
UNICOMMERCE_FACILITY_CODE=

# BigCommerce
BIGCOMMERCE_STORE_HASH=
BIGCOMMERCE_ACCESS_TOKEN=
BIGCOMMERCE_CLIENT_SECRET=
BIGCOMMERCE_CLIENT_ID=